.circle {
    width: 5vw;
    height: 5vw;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin: 5px;
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.5s;
    display: inline-block;
}

.circle.pink {
    background-color: #D870AD;
}

.circle.green {
    background-color: #45B649;
}

.circle.blue {
    background-color: #357ABD;
}

.circle.yellow {
    background-color: #FFD700;
}

.circle:active {
    transform: scale(0.7);
}

.circle.active {
    box-shadow: 0 0 10px 3px rgba(219, 219, 219, 0.363);
    opacity: 1;
}
