.control-panel {
    margin: 10px 0;
    margin-bottom: 75px;
    font-size: 0.85em;
    color: #bebebe94;
    text-align: center;
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch;
}

.control-panel button {
    padding: 10px 30px;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    border: 1px solid #555;
    background-color: #333;
    color: #eeeeeeb1;
    border-radius: 5px;
    transition: all 0.3s;
}

.control-panel button:active {
    transform: scale(0.8);
    background-color: #555;
}

input[type="range"] {
    filter: grayscale(100%);
}

.slider {
    margin-top: 30px;
    height: 5px;
    cursor: pointer;
}

.slider-metric {
    font-size: 11px;
    padding: 0 5px;
}

@media only screen and (max-width: 768px) {
  
    .control-panel {
        margin-bottom: 100px;
    }
  }
  