.control-panel {
    margin: 30px 10px;
}

.control-panel button {
    padding: 10px 30px;
    margin: 25px 10px;
    margin-bottom: 50px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #555;
    background-color: #333;
    color: #eeeeeeb1;
    border-radius: 5px;
    transition: all 0.3s;
}

.control-panel button:hover {
    background-color: #555;
    transform: scale(0.8);
}

.control-panel button:active {
    transform: scale(0.8);
}

@media only screen and (max-width: 768px) {
  
    .control-panel button {
    
    }
  }