.header {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: none;
}

.title {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    color: #FFF;
    font-size: 1.6em;
    opacity: 0.7; /* change to 0 to start with hidden letters */
    display: inline-block;
}

@media only screen and (max-width: 768px) {
  
    .title {
        margin-top: 30px;
    }
  }