.header {
    margin-top: 100px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    background-color: none;
}

.title {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    color: #e0e0e0;
    font-size: 3em;
    display: inline-block;
}

@media only screen and (max-width: 768px) {
  
    .header {
        margin-top: 75px;
        margin-bottom: 25px;
    }

    .title {
        font-size: 2.5em;
    }
  }