#footer {
    font-family: 'Roboto Mono', monospace;
    color: rgba(194, 194, 194, 0.902);
    font-size: 0.7rem;
    background-color: rgba(40, 40, 40, 0.7);
    box-shadow: 0 3px 10px rgba(95, 95, 95, 0.5);
    padding: 10px 30px;
    width: 100%;
    width: auto;
    margin: 5px;
    border-radius: 13px;
    text-align: center;
    box-sizing: border-box;
    bottom: 0;
    position: relative; 
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(94, 160, 255);
    margin: 2px;
    transition: color 0.5s;
}

footer a:hover {
    background-color: pink;
    font-weight: bold;
}

footer span {
    margin: 0 0;
}

#rocketIcon {
    margin-left: 1px;
    margin-right: 1px;
}

